## .NET / C# ##

# Build results
bin/
obj/

# NuGet packages
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache / options
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# JetBrains
*.DotSettings.user

# Publish
publish/
PublishProfiles/

# Crash dumps
*.dmp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
